<script type="text/html" id="convert-action">
  <span class="svda_question_action">
    <!-- ko if: allowChangeType -->
    <select
      onmousewheel="return false;"
      class="svda_current_type svd-main-color svd-light-bg-color"
      data-bind="foreach: availableTypes, event: { change: onConvertType }, attr: {title: title}"
    >
      <option
        class="svd-light-bg-color"
        data-bind="text: $data.name, value: $data.value, attr:{selected: $data.value === $parent.type ? 'selected': null}"
      ></option>
    </select>
    <!-- /ko -->
    <!-- ko ifnot: allowChangeType -->
    <span data-bind="text: text" class="svda_current_type svd-main-color">
    </span>
    <!-- /ko -->
  </span>
</script>

<script type="text/html" id="choice-action">
  <!-- ko if: ko.unwrap($data.visible) === undefined || !!ko.unwrap($data.visible) -->
  <span class="svda_question_action">
    <select
      onmousewheel="return false;"
      class="svda_current_type svd-main-color svd-light-bg-color"
      data-bind="foreach: choices, event: { change: onClick }, attr: {title: text, value: value}"
    >
      <option
        class="svd-light-bg-color"
        data-bind="text: $data.text || $data.value || $data, value: $data.value, attr:{selected: $data.value === ko.unwrap($parent.value) ? 'selected': null}"
      ></option>
    </select>
  </span>
  <!-- /ko -->
</script>

<script type="text/html" id="action-separator">
  <span
    class="svda_action_separator svd-dark-border-color"
    data-bind="visible: ko.unwrap($data.visible) === undefined || !!ko.unwrap($data.visible)"
  >
  </span>
</script>

<script type="text/html" id="fp-add-question">
  <span class="svda_question_action">
    <select
      onmousewheel="return false;"
      class="svda_current_type svd-main-color svd-light-bg-color"
      data-bind="event: { change: onAddQuestion }, attr: {title: title}"
    >
      <option
        class="svd-light-bg-color"
        data-bind="text: title, value: undefined"
      ></option>
      <!-- ko foreach: availableTypes -->
      <option
        class="svd-light-bg-color"
        data-bind="text: $data.name || $data, value: $data.value || $data"
      ></option>
      <!-- /ko -->
    </select>
  </span>
</script>

<script type="text/html" id="sca-show-property-grid">
  <span
    class="svda_question_action svda_question_action--separated svd-main-color"
    data-bind="key2click, clickNoFocus: function() { onClick($parent.question); }, attr: {title: text, tabindex: $data.needFocus === undefined || !!$data.needFocus ? 0 : undefined, role: 'button' }"
  >
    <span>
      <svg-icon
        class="svd-primary-icon"
        data-bind="css: $parent.getStyle($data)"
        params="iconName: $parent.getStyle($data)"
      ></svg-icon>
    </span>
    <span data-bind="text: $data.hasTitle ? text: ''"></span>
    <span>
      <svg-icon
        class="svd-primary-icon"
        data-bind="css: $parent.getStyle($data)"
        params="iconName: 'ext-icon-right'"
      ></svg-icon>
    </span>
  </span>
</script>
