<script type="text/html" id="svd-translation-item">
  <textarea
    class="form-control"
    style="width: 100%;"
    data-bind="visible: $data.koVisible, disable: item.koReadOnly, value:item.koValue($data.locale), attr: {placeholder: !$data.locale? item.defaultValue : ''}"
  ></textarea>
</script>
<div
  class="svd-light-border-color svd-light-bg-color"
  data-bind="css:{'svd-translation-strings': $data.koShowHeader()}"
>
  <table class="svd_items_table" data-bind="visible: $data.locItems.length > 0">
    <thead>
      <tr>
        <th></th>
        <!-- ko foreach: $data.koLocales -->
        <th
          data-bind="visible: $data.koVisible, text: $parent.getLocaleName($data.locale), style: {width: $parent.locWidth}"
        ></th>
        <!-- /ko -->
      </tr>
    </thead>
    <tbody data-bind="foreach: {data: $data.locItems, as: 'item' }">
      <tr>
        <td style="max-width: 200px; min-width: 100px">
          <span data-bind="text:item.text"></span>
        </td>
        <!-- ko foreach: $parent.koLocales -->
        <td
          data-bind="visible: $data.koVisible, style: {width: $data.koVisible ? $parent.locWidth : '0px'} "
        >
          <!-- ko template: { name: 'svd-translation-item', data: $data, afterRender: $parent.afterRender} -->
          <!-- /ko -->
        </td>
        <!-- /ko -->
      </tr>
    </tbody>
  </table>

  <div
    class="svd-translation-panel-strings"
    data-bind="foreach: {data: $data.groups, as: 'group' }"
  >
    <div
      class="svd-toolbox-category-header"
      role="tab"
      data-bind="visible: koShowHeader, click: function(){ group.koExpanded(!group.koExpanded())}"
    >
      <span
        class="svd-translation-panel-strings-title"
        data-bind="css: { 'svd-main-color': group.koExpanded() }, text: group.text"
      ></span>
      <!-- ko ifnot: koExpanded -->
      <svg-icon
        class="ext-icon-toolbox-arrow"
        params="iconName: 'ext-icon-arrow_down_10x10', size: 10"
      ></svg-icon>
      <!-- /ko -->
      <!-- ko if: koExpanded -->
      <svg-icon
        class="ext-icon-toolbox-arrow svd-primary-icon"
        params="iconName: 'ext-icon-arrow_up_10x10', size: 10"
      >
      </svg-icon>
      <!-- /ko -->
    </div>
    <div data-bind="visible: koExpanded">
      <svd-translation-group params="model: group"></svd-translation-group>
    </div>
  </div>
</div>
