﻿<script type="text/html" id="propertyeditor-triggersitems">
  <div>
    <!--ko if: koItemSelector() != null -->
    <div class="form-group" data-bind="text: title"></div>
    <div class="form-group input-group">
      <select
        onmousewheel="return false;"
        class="form-control"
        multiple="multiple"
        data-bind="options:koItems, selectedOptions: koSelectedForDelete"
      ></select>
      <span
        class="input-group-addon sv-btn btn-danger"
        data-bind="click: deleteItems"
      >
        <span class="glyphicon glyphext-icon-remove"></span>
      </span>
    </div>
    <div class="form-group input-group">
      <!-- ko template: { name: "elementselector", data: koItemSelector() } --><!-- /ko -->
      <span
        class="input-group-addon sv-btn btn-default"
        data-bind="click: addItem"
      >
        <span class="glyphicon glyphext-icon-plus svd-main-color"></span>
      </span>
    </div>
    <!--/ko -->
  </div>
</script>
