<div class="svda-content">
  <span class="svda-image-editor">
    <span
      class="edit-image-item"
      role="button"
      data-bind="click: chooseImage, clickBubble: false, attr: { title: getLocString('pe.edit'), 'aria-label': getLocString('pe.edit') }"
    >
      <svg-icon
        class="svd-primary-icon"
        params="iconName: 'ext-icon-inplaceedit', size: 12"
      ></svg-icon>
    </span>
  </span>
  <span
    class="svda-drag-handle"
    role="button"
    data-bind="attr: { title: getLocString('pe.move'), 'aria-label': getLocString('pe.move') }"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplacedraggable', size: 12"
    ></svg-icon>
  </span>
  <!-- ko ifnot: isLastItem -->
  <span
    class="svda-delete-item"
    role="button"
    data-bind="click: deleteItem, attr: { title: getLocString('pe.delete'), 'aria-label': getLocString('pe.delete') }"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplacedelete', size: 12"
    ></svg-icon>
  </span>
  <!-- /ko -->
</div>
