<div class="svda-content">
  <span
    class="svda-title-editor-content"
    data-bind="visible: isEditing"
    style="display: none"
  >
    <input
      data-svd-info="adorner"
      data-bind="textInput: editingName, event: { keyup: nameEditorKeypress, blur: postEdit }, attr: { maxLength: maxLength, 'aria-label': name }"
      style="
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        background-color: transparent;
        display: inline-block;
      "
    />
    <span
      class="svda-edit-button"
      role="button"
      data-bind="click: postEdit, enable: editingName() != ''"
    >
      <svg-icon
        class="svd-primary-icon"
        params="iconName: 'ext-icon-inplacecheck', size: 12"
      ></svg-icon>
    </span>
    <!-- <span class="svda-edit-button" data-bind="click: cancelEdit">✕</span> -->
  </span>
  <span
    class="svda-focusable"
    tabindex="0"
    data-bind="attr: { 'aria-label': getLocString('pe.keyboardAdornerTip') }"
  >
  </span>
  <span
    class="svda-title-editor-content svda-title-editor-start"
    data-bind="visible: !isEditing()"
  >
    <span style="display: none" data-bind="text: editingName"></span>
    <span
      class="edit-survey-name"
      role="button"
      data-bind="click: startEdit, attr: { title: getLocString('pe.edit'), 'aria-label': getLocString('pe.edit') }"
    >
      <svg-icon
        class="svd-primary-icon"
        params="iconName: 'ext-icon-inplaceedit', size: 12"
      ></svg-icon>
    </span>
  </span>
  <!-- ko if: isDraggable -->
  <span
    class="svda-drag-handle"
    role="button"
    data-bind="attr: { title: getLocString('pe.move'), 'aria-label': getLocString('pe.move') }, visible: !isEditing()"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplacedraggable', size: 12"
    ></svg-icon>
  </span>
  <!-- /ko -->
  <!--ko if: !isLastItem && allowAddRemoveItems -->
  <span
    class="svda-delete-item"
    role="button"
    data-bind="click: deleteItem, attr: { title: getLocString('pe.delete'), 'aria-label': getLocString('pe.delete') }, visible: !isEditing()"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplacedelete', size: 12"
    ></svg-icon>
  </span>
  <!-- /ko -->
</div>
