<div class="svda-content" data-bind="ifnot: readOnly">
  <span class="svda-title-editor-content" data-bind="visible: isEditing" style="display: none;">
    <input data-svd-info="adorner"
      data-bind="textInput: editingName, event: { keyup: nameEditorKeypress, keydown: nameEditorKeydown, blur: postEdit }, attr: { maxLength: maxLength, 'aria-label': name, 'title': error, 'placeholder': error }, css: { 'svda-title-editor-error': error }, style: { 'min-width': error() ? '150px' : '' }"
      style="border-top: none; border-left: none; border-right: none; outline: none; background-color: transparent; display: inline-block;" />
    <span role="button" class="svda-edit-button" data-bind="click: postEdit, enable: editingName() != ''">
      <svg-icon class="svd-primary-icon" params="iconName: 'ext-icon-inplacecheck', size: 12"></svg-icon>
    </span>
    <!-- <span class="svda-edit-button" data-bind="click: cancelEdit">✕</span> -->
  </span>
  <span class="svda-title-editor-focusable" tabindex="0" role="button"
    data-bind="click: startEdit, key2click, attr: { 'aria-label': getLocString('pe.edit') + ' ' + name }"></span>
  <span class="svda-title-editor-content svda-title-editor-start" data-bind="visible: !isEditing()">
    <span class="svda-title-editor-placeholder" tabindex="0"
      data-bind="click: startEdit, text: placeholder, visible: !editingName() && placeholder, key2click, attr: { 'aria-label': name, role: 'textbox', 'aria-readonly': 'false' }"></span>
    <span role="button" class="svda-title-editor-start-button edit-survey-name"
      data-bind="click: startEdit, attr: { title: getLocString('pe.edit') }">
      <svg-icon class="svd-primary-icon" params="iconName: 'ext-icon-inplaceedit', size: 12"></svg-icon>
    </span>
  </span>
</div>