<div class="alert alert-danger" role="alert" aria-hidden="true" data-bind="visible:koDisplayError">
    <span class="glyphicon glyphext-icon-exclamation-sign"></span>
    <span class="sr-only" data-bind="text: getLocString('ed.propertyEditorError')"></span>
    <span data-bind="text: koErrorText"></span>
</div>