<div class="form-control svd-control svd-focusable svd-property-editor-file">
  <!-- ko ifnot: readOnly -->
  <input type="file" class="svd-choose-file-control" />
  <span
    class="edit-image-item"
    role="button"
    data-bind="click: chooseFile, clickBubble: false, attr: { title: getLocString('pe.edit'), 'aria-label': getLocString('pe.edit') }"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplaceedit', size: 12"
    ></svg-icon>
  </span>
  <span
    class="svda-delete-item"
    role="button"
    data-bind="click: deleteFile, attr: { title: getLocString('pe.delete'), 'aria-label': getLocString('pe.delete') }, visible: koValue"
  >
    <svg-icon
      class="svd-primary-icon"
      params="iconName: 'ext-icon-inplacedelete', size: 12"
    ></svg-icon>
  </span>
  <!-- /ko -->
  <span class="svd-property-editor-file-content" data-bind="text: fileContent">
  </span>
</div>
