<div style="padding-left: 10px;">
  <button
    type="button"
    class="btn sv-btn btn-sm btn-secondary"
    data-bind="click: onReturnToListClick"
  >
    <span class="glyphicon glyphext-icon-list-alt"></span>
  </button>
  <span data-bind="text: koEditorName"></span>
  <svd-object-editor-content
    params="elementEditorContent: koEditItem().itemEditor"
  ></svd-object-editor-content>
</div>
