<div class="propertyeditor-validators">
  <div class="input-group form-group">
    <!-- ko if: koAvailableClasses().length == 0 -->
    <span
      class="input-group-addon first-addon"
      data-bind="visible: koAllowAddRemoveItems() && !readOnly(), click: onAddClick"
    >
      <span
        class="glyphicon glyphext-icon-plus"
        data-bind="click: toggleClassesContainer"
      ></span>
    </span>
    <!-- /ko  -->
    <!-- ko if: koAvailableClasses().length > 0 -->
    <div
      class="input-group-addon first-addon"
      data-bind="visible: koAllowAddRemoveItems() && !readOnly()"
    >
      <span
        class="glyphicon glyphext-icon-plus svd-main-color"
        data-bind="click: toggleClassesContainer"
      ></span>
    </div>
    <!-- /ko  -->
    <div data-bind="text: "></div>
    <div class="form-control svd_custom_select">
      <select
        onmousewheel="return false;"
        data-bind="value: koSelected, optionsCaption: $data.getLocString('pe.listIsEmpty')"
      >
        <!--ko if: originalValue.length == 0 -->
        <option
          data-bind="value: '', text: $data.getLocString('pe.listIsEmpty')"
        ></option>
        <!-- /ko -->
        <!-- ko foreach: originalValue -->
        <option
          data-bind="value: $data, text: $parent.getItemText($data, $parent.koChangeCounter())"
        ></option>
        <!-- /ko -->
      </select>
    </div>
    <span
      class="input-group-addon btn-danger"
      data-bind="visible: koAllowAddRemoveItems, enable: koSelected() != null, click: onDeleteClick"
    >
      <span class="glyphicon glyphext-icon-remove"></span>
    </span>
  </div>

  <ul class="svd-available-classes-container svd-light-bg-color" tabindex="0">
    <!-- ko foreach: koAvailableClasses -->
    <li>
      <a
        href="#"
        data-bind="click: function() {$parent.onAddClick($data); $parent.toggleClassesContainer();}"
      >
        <span data-bind="text:$data.text"></span>
      </a>
    </li>
    <!-- /ko  -->
  </ul>

  <!-- ko if: selectedObjectEditor() != null -->
  <!-- ko component: { name: "svd-object-editor-content", params: { elementEditorContent: selectedObjectEditor() } } --><!-- /ko -->
  <!-- /ko  -->
</div>
