<div>
  <!-- ko foreach: tabs -->
  <div
    class="svd-accordion-tab-header"
    role="tab"
    tabindex="0"
    data-bind="click: toggle, key2click, visible: $parent.showHeader, attr: { 'data-title': title }"
  >
    <span
      data-bind="css: { 'svd-main-color': !collapsed() }, text: title"
    ></span>
    <!-- ko if: collapsed -->
    <svg-icon
      class="ext-icon-toolbox-arrow"
      params="iconName: 'ext-icon-arrow_down_10x10', size: 10"
    ></svg-icon>
    <!-- /ko -->
    <!-- ko ifnot: collapsed -->
    <svg-icon
      class="ext-icon-toolbox-arrow svd-primary-icon"
      params="iconName: 'ext-icon-arrow_up_10x10', size: 10"
    ></svg-icon>
    <!-- /ko -->
  </div>
  <div
    class="svd-accordion-tab-content"
    role="tab"
    data-bind="ifnot: collapsed"
  >
    <!-- ko component: { name: data.htmlTemplate, params: { model: data.templateObject, afterRender: data.koAfterRender || data.afterRender } } --><!-- /ko -->
  </div>
  <!-- /ko -->
</div>
