<div data-bind="click: toggle, attr: { title: getLocString(visible() ? 'ed.hidePanel':'ed.showPanel') }">
  <div class="icon svd-ext-icon-container svd-ext-icon-container--left-open" data-bind="visible: !isOpen()">
    <svg-icon class="svd-svg-icon" params="iconName: iconLeftOpen, width: 14, height: 24"></svg-icon>
  </div>
  <div class="icon svd-ext-icon-container svd-ext-icon-container--left-close" data-bind="visible: isOpen">
    <svg-icon class="svd-svg-icon" params="iconName: iconLeftClose, width: 14, height: 24"></svg-icon>
  </div>
  <div class="icon svd-ext-icon-container svd-ext-icon-container--right-open" data-bind="visible: !isOpen()">
    <svg-icon class="svd-svg-icon" params="iconName: iconRightOpen, width: 14, height: 24"></svg-icon>
  </div>
  <div class="icon svd-ext-icon-container svd-ext-icon-container--right-close" data-bind="visible: isOpen">
    <svg-icon class="svd-svg-icon" params="iconName: iconRightClose, width: 14, height: 24"></svg-icon>
  </div>
</div>

<div data-bind="css: className">
  <div class="svd-vertical-container" role="presentation">
    <div class="svd-vertical-container__row" role="presentation">
      <div class="svd-vertical-container__cell" role="presentation">
        <div>
          <!-- ko if: tabs().length > 1 -->
          <div class="svd-designer-tabbed-container__tab-header-container" role="tablist">
            <!-- ko foreach: { data: tabs, as: 'content' } -->
            <div class="svd-designer-tabbed-container__tab-header"
              data-bind="text: $parent.context.getLocString('ed.' + content), click: function() { $parent.activeTab(content); }, css: { 'svd-designer-tabbed-container__tab-header-active' : content === $parent.activeTab() }, key2click, attr: { 'aria-label': $parent.context.getLocString('ed.' + content), role: 'tab' }"
              tabindex="0"></div>
            <!-- /ko -->
          </div>
          <!-- /ko -->

          <!-- ko if: tabs().length === 1 -->
          <div class="svd-designer-container__header">
            <span class="svd-designer-container__header-title" data-bind="text: getLocString('ed.' + tabs()[0])"></span>
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
    <div class="svd-vertical-container__row" role="presentation">
      <div class="svd-vertical-container__cell" role="presentation">
        <div class="svd-vertical-container__cell-content-holder">
          <div class="svd-vertical-container__cell-content">
            <!-- ko if: tabs().length > 1 -->
            <!-- ko foreach: { data: tabs, as: 'content' } -->
            <div class="svd-designer-tabbed-container__tab-content"
              data-bind="css: { 'svd-designer-tabbed-container__tab-content-active' : content === $parent.activeTab() }">
              <!-- ko template: { name: 'se-component-' + content, data: $parent.context } -->
              <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: tabs().length === 1 -->
            <!-- ko foreach: { data: tabs, as: 'content' } -->

            <!-- ko template: { name: 'se-component-' + content, data: $parent.context } -->
            <!-- /ko -->

            <!-- /ko -->
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>