.svd_container {
  .svd-svg-icon {
    display: inline-block;
    vertical-align: middle;
    fill: $primary-ext-icon-color;
    fill: var(--primary-ext-icon-color, $primary-ext-icon-color);
  }
  .svd-primary-icon {
    .svd-svg-icon {
      fill: $primary-color;
      fill: var(--primary-color, $primary-color);
    }
  }
  .svd-danger-icon {
    .svd-svg-icon {
      fill: $error-color;
      fill: var(--error-color, $error-color);
    }
  }
  .svd-secondary-icon {
    .svd-svg-icon {
      fill: $secondary-color;
      fill: var(--secondary-color, $secondary-color);
    }
  }
  .ext-icon-gearactive, .ext-icon-dotsactive {
    .svd-svg-icon {
      fill: $primary-color;
      fill: var(--primary-color, $primary-color);
    }
  }
  .ext-icon-gear, .ext-icon-dots {
    .svd-svg-icon {
      fill: $light-control-color;
      fill: var(--light-control-color, $light-control-color);
    }
  }
  .ext-icon-white {
    .svd-svg-icon {
      fill: $primary-bg-color;
      fill: var(--primary-bg-color, $primary-bg-color);
    }
  }
  .ext-icon-status {
    .svd-svg-icon {
      fill: $ext-icon-status-color;
      fill: var(--ext-icon-status-color, $ext-icon-status-color);
      margin-bottom: 0.3em;
    }
  }
  .ext-icon-actiondragelement {
    cursor: move;
    position: absolute;
    left: 0;
  }
  .glyphicon {
    font-weight: bold;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    line-height: 1em;
    top: 0;
    &.glyphext-icon-plus::before {
      font-weight: normal;
      font-size: 20px;
      content: "+";
    }
    &.glyphext-icon-option-horizontal::before {
      font-size: 20px;
      content: "⋯";
    }
    &.glyphext-icon-remove::before {
      content: "✖";
    }
    &.glyphext-icon-edit::before {
      content: "";
    }
    &.glyphext-icon-list-alt::before {
      content: "⇐"; // '🗸'
    }
    &.glyphext-icon-exclamation-sign::before {
      content: "⚠";
    }
  }
}
